@CHARSET "UTF-8";

/* *:not(button) { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	color: black; */
/* 	font: inherit; */
/* 	word-break: normal; */
/* 	word-wrap: normal; */
/* } */

body {
	z-index:0;
	background: #FFFFFF 40px -6px url("../images/SA-logo.png") no-repeat;
	margin:10px 0 0 0;
	font-family: Verdana,"Arial CE",Arial,"Helvetica CE",sans-serif;
	line-height: 18px;
	width:100%;
	min-width: 1200px;
}


.page {
	padding: 2px 40px 0px 40px;
	border-top:  2px solid black;
	margin: 40px 0 0 0;
	background-color: #eeeae5;
	min-height: 800px;

}


a {
	color: inherit;
	text-decoration: none;
}

a:VISITED {
	color: inherit;
}

a:HOVER {
	/* text-decoration: underline; */
}


form {
	width: inherit;
	height: inherit;
	background: inherit;
	display: inherit;
}

th { 
	text-align: center;
	font-size: 10px; 
	overflow: hidden;
	padding-left: 2px;
	padding-right: 2px;
	line-height: 15px;
	background-color: darkgray;
	
}

td { 
	padding-left: 1px; 
	padding-right: 1px;
	font-size: 12px;
}

textarea {
	font-family: monospace;	
}



label {
	font-weight: bold;
}

.headerNazevStranky {
	font-size: 14px;
	font-weight: bold;
	display:inline-block;
	width: 85%;
	text-align: center;	
	float: inherit;
}

.pageHeader {
	margin-top: -18px;		
}

.headerNazevAplikace {
	font-size: 16px;
	display:inline;
	padding-bottom: 5px;
}

.info {
	font-size: 16px;
	display: inline-block;
	float: right;
	width:13em;
	text-align: right;
}

.info .user {
	font-size: 16px;
	display:inline;
}

.info .lang {
	font-size: 16px;
	display:inline;
	
}

.info .lang a:HOVER {
	background: white;
}

.headerLinks {
	background-color: #4BA82E;
	color: #4BA82E;
	clear: both;
	padding: 5px;
	margin-top: 3px;
}


.headerLinks a {
	color: #FFFFFF;
}

.headerLinks a:HOVER {
	color: #000000;
}

.zonaFiltru {
	background-color: #dfd9d1;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	clear: both;
	font-size: 14px;
}

.filtry {
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
}

.zonaTlacitek {
	background-color: #dfd9d1;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	clear: both;
	text-align: left;
}

.tlacitka {
	display: inline;
	padding-left: 25px;
	padding-right: 25px;

}

.tlacitka input{
	font-family: inherit;
	margin-left: 2px;
}


.tlacitka .action {
	display:inline;
}

.tlacitka .navigation {
	display:inline-block;
	float:right;
	width:12em;
	text-align: right;
}


.rowOdd {
	
}

.rowEven {
	background-color: #E0E0E0;
}


select, textarea {
	font-family: inherit;
	font-size: 12px;
	border-style:solid;
	border-width: 1px;
	border-radius: 1px;
	border-color: darkgray;
	padding: 1px;
	vertical-align: middle;
}

input.submit {
	font-family: inherit;
	font-size: 11px;
	width:140px;
	height:25px;
	color:#FFF;
	font-weight:bold;
	background:#555555 url(../images/arrow_right_white.png) no-repeat 125px 10px;
	padding-right:15px;
	padding-left: 5px;
	border:0px;
	text-align:left;
	border-radius: 3px;
}
       
input.kalendar {
	font-family: inherit;
	font-size: 13px;
	font-weight:bold;
	background:#DFD9D1 url("../images/ico_calendar_20x20.png") no-repeat 118px 3px;
	padding-left:20px;
	color: black;
	width:140px;
	height:25px;
	padding: 0px;
	border:0px;
	text-align:left;
	border-radius: 3px;
}

input.textovePole {
	font-family: inherit;
	background:white;
	color: black;
	width:250px;
	height:25px;
	border:0px;
	text-align:left;
	border-radius: 3px;
}

input.textovePole850 {
	font-family: inherit;
	background:white;
	color: black;
	width:850px;
	height:25px;
	border:0px;
	text-align:left;
	border-radius: 3px;
}

input.textovePole150 {
	font-family: inherit;
	background:white;
	color: black;
	width:150px;
	height:25px;
	border:0px;
	text-align:left;
	border-radius: 3px;
}

input.radiobutton {
	font-family: inherit;
}

input.checkbox {
	font-family: inherit;
}


input.submit:hover
{
background-color:#2b2b2b;
}

input.kalendar:hover
{
background-color:#2b2b2b;
color: white;
}

input.textovePole:hover
{
background-color:#ffd200;
color: black;
width:250px;
} 

input.textovePole850:hover
{
background-color:#ffd200;
color: black;
width:850px;
}

input.textovePole150:hover
{
background-color:#ffd200;
color: black;
width:150px;
}  

textarea {
	word-wrap: normal;
	white-space: normal;
}

.form td {
	padding-right: 5px;
}

tr.form input {
	width: 100%;
}

.modal input {
	background-color: #ECEFFF;
}


/*** Puvodni *****************************************************************************/

.pageHeader .langSwitch {
	font-size: 11px;
	color: #DDDDDD;
	text-align: center;
	width: 240px;
	position: absolute;
	left: 800px;
	top: 60px;
	line-height: 11px;

}

.langSwitch a {
	color: #DDDDDD; 
	text-decoration: none;
	font-weight: bold;
}


.langSwitch a:hover {
	text-decoration: underline;
}

.applicationMessages {
	background: #C3C3C3;	
	border: 1px;
	padding: 4px;
	line-height: 12px;
	font-size: 11px;
}

.message_1 {
	color: red;
}

.bindError {
	 color:red;
}

.filterArea {
	background: #C3C3C3;
}


.mySet {
	font-size: 9px;
}

.inlineError {
	display:none;
}

.value .inlineError ~ * {
	background-color:red;
}



.uzivatel {
		font-size:80%;
}

a.ibt, a.ibt:visited, a.ibt:hover {
	text-decoration: none;
	border:none;
	color: #000;
	background-color:red;
	overflow:visible;
}

a.ibt:hover {
	background-color: #ffff00;
}
a.ibt {
	display: inline; 
	vertical-align: bottom;
}

a.ibt:hover .ipop {
	visibility: visible;
}

.ipop {
	position: absolute;
	background-color: #fcc;
	visibility: hidden;
	border:none;
	margin-left:5px;
	width:300px;
	height:200px;
	vertical-align: top;
	font-size:12px;
	line-height:12px;
}

.pageFooter {
	margin-top: 5px;
	font-size: 10px;
	color: gray;
	z-index: 10;
	border-top: 2px solid gray;
}

/* ---------------------------------
	TABLE
----------------------------------*/

.tableData {
	float: left;
	width: 99.9%;
}

.rowOdd {
	background: #FFFFFF; /* D7 */
}

.rowEven {
	background: #ececec; /* D11 */
}

.tableColored .rowEven {
	background: #ececec; /* D8 */
}

tr.rowSeparated th {
	border-bottom: 1px solid #FFFFFF;
	border-collapse: collapse;
}

.tableData td {
	font: 12px Verdana, Geneva, Helvetica, sans-serif;
	line-height: 18px;
	padding: 1px 10px;
}

.tableData th {
	font: bold 11px Verdana, Geneva, Helvetica, sans-serif;
	line-height: 14px;
	color: #000000;
	background: #C3C3C3; /* D10 */
	padding: 3px 10px;
}

th {
	background-color: #c7c0b8;
}

th.superior {
	color: #000000;
	background: #dddddd; /* D9 */
}

.tableColored th {
	background: #B7C0D2; /* D6 */
}

.tableColored th.superior {
	background: #6F80A4; /* D5 */
}

<!-- *************************************************************** -->




